<form accept-charset="UTF-8" action="/courses/3/assignments/7/submissions/17" class="edit_submission" enctype="multipart/form-data" id="edit_submission_17" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="Dij7c1LHr1K0yJq6ncRWbzTOngmRZkZ7Asq/JsL8CS4=" /></div>

  <div class="field">
    <input id="submission_attachment" name="submission[attachment]" required="required" type="file" />
  </div>
  <div class="field hidden">
    <select id="submission_assignment_id" name="submission[assignment_id]"><option value="1">Assignment 1 (Completed)</option>
      <option value="2">Assignment 2 (Reviewing)</option>
      <option value="3">Assignment 3 (Submitting)</option>
      <option value="4">Assignment 4 (Draft)</option>
      <option value="5">Assignment for 2015 (draft)</option>
      <option value="6">New Assignment</option>
      <option value="7" selected="selected">Assignment 1.2</option></select>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Submit Assignment" />
    <a style="margin-left: 20px;" href='/attachments/original/missing.png'>&#10004; Submitted on time</a>
  </div>
</form>
