<%= render "assignments/header" %>

<div class="assignment_details">
  <p>
    <b>Submissions due:</b>
    <%= @assignment.submission_due.to_s(:pretty) %>
  </p>

  <p>
    <b>Reviews due:</b>
    <%= @assignment.review_due.to_s(:pretty) %>
  </p>
</div>