<!-- The student has done at least one review -->
<%= render "assignments/header" %>

<h3>Reviews Given by <%= @reviewer.name %></h3>

<% if Time.zone.now < @assignment.review_due %>
    Reviews can still come in.
<% end %>

<div id="reviewing_tasks">
  <% @reviewing_tasks.each_with_index do |task, index| %>
      <% if task.finished? %>
          <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) + '?instructor_review_of=' + @reviewer.id.to_s do %>
              <div class="reviewing_task" >Review of <%= task.submission.user.name %></div>
          <% end %>
      <% end %>
  <% end %>

</div>


