<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= @user.first_name %>,
<p>
This course uses Coursemark, and you are registered for the course.
</p>
<p>
If you're using Coursemark for multiple courses, you can switch among them by clicking on the OTHER COURSES link.
</p>
<%= @autogen_msg %>
</body>
</html>
