<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= @user.first_name %>,
</br>
<p>
  Coursemark has registered you for the course, <% @course.name %>.
</p>
</br>
<p>
  If you're now using Coursemark for multiple courses, you can switch among them by clicking on the current course name
  at the top of the sidebar.
  <br />
</p>
</body>
</html>
