<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Welcome to Coursemark, <%= @user.first_name %>
    </br>
    <p>
      Your username is: <%= @user.email %>, your temporary password is <b><%= @password %></b>, and you are registered for
      the course, <% @course.name %>.
    </p>
    </br>
    <p>
      Please login to coursemark.org, go to Settings, and change your password.
      <br />
    </p>
  </body>
</html>
