</html>
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  You registered the user name: <%= @user.email %>.<br/>
</p>
<p>
  To complete your registration, please confirm your email address by following this link:
  <br />
  <%= @url %>
</p>
<p><%= @autogen_msg %></p></body>
</html>