<div class="field">
	<div class="percentWrapper">
		<div class="percent"></div>
		<div class="explanation">of points</div>
	</div>
  <div class="num hidden"><%= f.text_field :value %></div>
  <%= f.text_field :description, :placeholder => "Optional Label" %>
  <div class="clearfix"></div>
</div>
<%= f.link_to_remove "Remove" %>
