<div class="field">
  <div class="num"><%= f.text_field :value %></div>
  <%= f.text_field :description, :placeholder => "Optional Label" %>
</div>
<div class="explanation">Student will receive <span class="percent"></span>% of points</div>
<%= f.link_to_remove "Remove" %>