/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #343F53;
    outline: none;
}

input, textarea {
    border: 1px solid #d5d5d5;
    padding: 5px;
}

html, body {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#user_email {
    background: #ffffff;
    color: #000000;
}
#user_password {
    background: #ffffff;
    color: #000000;
}

#user_password_confirmation {
    background: #ffffff;
    color: #000000;
}

#user_session_password {
    background: #ffffff;
    color: #000000;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: top;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: both;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Agora custom styles
   ========================================================================== */

#sidebar {
    float: left;
    width: 290px;
    height: 100%;
    background: #343F53;
    color: #A0ABC0;
    overflow-y: scroll;
}

#sidebar a {
    text-decoration: none;
    color: #bdc3c7;
}

#sidebar .tabs {
    width: 100%;
    height: 55px;
    background: #343F53;
    border-top: 1px solid #484957;
    border-bottom: 1px solid #484957;
}

#sidebar .tab {
    float: left;
    width: 55px;
    height: 100%;
    border-right: 1px solid #484957;
}

#sidebar .tab.active {
    background-color: #e67e22;
}

#sidebar .tab.assignments {
    background-image: url(/assets/assignments_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px;
}

#sidebar .tab.profile {
    background-image: url(/assets/user_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px;
}

#courseSelector {
    color: #bdc3c7;
    height: 44px;
    padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 11px;
    cursor: pointer;
    background-image: url(/assets/menu_icon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px;
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid rgba(223, 223, 223, 0.1);
}

#courseSelector:hover {
    color: #FFF;
}

#courseSelectorModal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
    z-index: 3000;
}

#courseSelectorModal .modal {
    width: 50%;
    height: auto;
    max-height: 450px;
    background: #FFF;
    border-radius: 6px;
    margin: 150px auto auto auto;
    padding: 30px 40px 35px 40px;
    overflow-y: scroll;
}

#courseSelectorModal .modal h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    font-weight: normal;
    font-size: 20pt;
    margin-bottom: 25px;
}

#courseSelectorModal .course {
    padding: 25px 20px 25px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #DFDFDF;
}

#courseSelectorModal .course:hover {
    border: 1px solid #000;
}

#courseSelectorModal a .course {
    font-weight: normal;
    color: #343F53;
}

#sidebar #newAssignmentBtn {
    padding-left: 20px;
    color: white;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 36px;
}

#sidebar ul {
    width: 290px;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
}

#sidebar li {
    list-style: none;
    width: 100%;
    min-height: 45px;
    padding: 12px 25px;
    font-size: 15px;
}

#sidebar li.divider {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    height: 37px;
    margin-top: 15px;
}

#sidebar li:hover:not(.divider) {
    background: #2c3447;
    color: #FFF;
}

#sidebar li.active {
    background: #2c3447;
    color: #FFF;
}

#sidebar li.active a {
    color: #FFF;
}

#logo {
    height: 41px;
    background: #e67e22;/*#e67e22 */
    color: rgba(255,255,255,0.9);
    padding-left: 22px;
    padding-top: 9px;
    font-weight: bold;
}

#logo img {
    width: auto;
    height: 20px;
}

#logo.big {
    height: 84px;
    padding-top: 27px;
    border-bottom: 1px solid rgba(223, 223, 223, 0.15);
    margin-bottom: 10px;
}

#logo.big img {
    height: 27px;
}

#sidebar .status, .possiblePoints {
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
    padding-top: 9px;
    font-weight: normal;
    opacity: .5;
    margin-bottom: 9px;
}

.possiblePoints {
  font-size: 10pt;
  margin-top:-15px;
}

#main {
    float: left;
    width: -moz-calc(100% - 290px);
    width: calc(100% - 290px);
    height: 100%;
    overflow-y: scroll;
    padding: 0px 50px 40px 50px;
    background: #F5F6F8;
    overflow-x: hidden;
}

#main.no_sidebar_main {
  width:100%;
  padding: 0px 0px 0px 0px;
  background: #F5F6F8;
}

#header {
    position: fixed;
    width: -moz-calc(100% + 120px);
    width: calc(100% + 120px);
    height: 100px;
    margin: 0px 0px 45px -50px;
    padding: 28px 50px 0px 50px;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    z-index: 1000;
}

#headerSpacer {
    width: 100%;
    height: 122px;
}

#main h1 {
    margin: 0px;
    margin-top:-5px;
    margin-right: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    font-weight: normal;
    font-size: 20pt;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main .tabs {
    margin-top: 9px;
    text-transform: uppercase;
    color: #95969C;
}

/*#main .tab {
    float: left;
    height: 52px;
    margin-right: 50px;
    padding-top: 10px;
    font-size: 12pt;
}*/

#main .tab {
    float: left;
    height: 31px;
    margin-right: 50px;
    padding-top: 6px;
    font-size: 12pt;
    padding-right: 6px;
    padding-left: 6px;
}

#main .tabs a {
    text-decoration:none;
    color: #95969C;
}

#main .tab.active a {
    color: #e67e22;
    /*font-weight: bold;*/
}

#main .tab:hover:not('.logout') {
    color: #e67e22;
    border-bottom: 3px solid #95969C;
}

/*#main .tab.active {
    color: #e67e22;
}*/

#main .tab.active {
    color: #e67e22;
    border-left:solid 1px #DFDFDF;
    border-right:solid 1px #DFDFDF;
    border-top:solid 1px #DFDFDF;
    background-color: #F5F6F8;
    padding: 5px 5px 0 5px;
}

#main .tab.active:hover {
  margin-right:50px;
}

#main .tab.active + #main .tab {
    border-left: 0px !important;
}

#main .tab.logout {
    position: absolute;
    top: 40px;
    right: 394px;
    width: 120px;
    height: 60px;
    padding-left: 35px;
    padding-top: 10px;
    line-height: 26px;
    border-left: 1px solid #DFDFDF;
}
#main .tab.settings {
    position: absolute;
    top: 0px;
    right: 394px;
    width: 120px;
    height: 100px;
    padding-left: 35px;
    padding-top: 24px;
    line-height: 26px;
    border-left: 1px solid #DFDFDF;
}

#backBar {
    width: -moz-calc(100% + 120px);
    width: calc(100% + 120px);
    height: 46px;
    margin: -25px 0px 30px -60px;
    padding-top: 17px;
    padding-left: 60px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF;
    font-size: 10.5pt;
}

#backBar a, #header a {
    color: #343F53;
    text-decoration: none;
}

#main #error_explanation h2 {
    font-size: 11pt;
    color: red;
    background-color: black;
    width: 50%;
}
#main #error_explanation {
    font-size: 12pt;
    color: black;
    background-color: #C92824;
    width: 100%;
    min-height: 60px;
    height: auto;
    margin-bottom: 20px;
    padding: 4px 10px 2px 10px;
    display: block;
}


#ui-datepicker-div {
    width: 225px;
}

.new_assignment #error_explanation, 
.edit_assignment #error_explanation,
.edit_assignment .error {
    color: #c0392b;
    background: #d3d3d3;
}

.edit_assignment .error {
    margin-bottom: 20px;
}

.edit_assignment input, .new_assignment input {
    margin-top: 8px;
    margin-bottom: 4px;
}

.edit_assignment .actions, .new_assignment .actions {
    margin-top: -6px;
}

.edit_assignment input:disabled {
    opacity: .6;
}

.edit_assignment .actions input, .new_assignment .actions input {
    width: -moz-calc(50% - 10px) !important;
    width: calc(50% - 10px) !important;
    margin-right: 20px !important;
    float: left;
}

.edit_assignment .actions .button, 
.new_assignment .actions .button {
    float: left;
}

/*#assignment_submission_due_time_5i,
#assignment_review_due_time_5i {
    display: none;
}*/

#assignment_submission_due_date,
#assignment_review_due_date {
    width: 106px;
    margin-right: 7px;
}

#assignment_submission_due_time_4i,
#assignment_review_due_time_4i {
    margin-left: 7px;
}

#assignment_reviews_required {
    width: 60px;
}

#main .assignmentStatus {
    background: #FFF;
    padding: 25px;
    width: 50%;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    float: left;
    min-width: 360px;
}
#main .toDoList {
    background: #FFF;
    padding: 25px;
    width: 70%;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    min-width: 360px;
}

#main .toDoList h3 {
    margin-top:0px;
}

#main .toDoUl {
    list-style: none;
    padding:0px;
}

#main .toDoUl li {
    display: block;
    width:95%;
    padding:10px;
    border:solid 1px #ccc;
    border-radius: 6px;
    color: rgb(92, 92, 92);
    margin-bottom: 10px;
}

#main .toDoUl li:hover {
    border:solid 1px #000;
}

#main .toDoUl li a {
    text-decoration: none;
    color:inherit;
}

#main .toDoUl li a:visited {
    color: rgb(92, 92, 92);
}

.a_name {
    width:100%;
    font-weight: bold;
    color:black;
}

.assignment_section_header {
    margin-bottom:2px;
}

.na_text {
    color: #7B7B7E;
}

.red {
    color:red;
}

.assignmentStatus .checkPoint {
    height: 50px;
    padding-top: 15px;
    border-bottom: 1px solid #DFDFDF;
}

.assignmentStatus .checkPoint.completed {
    color: #2ecc71;
    background-image: url(/assets/checkmark.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 20px;
    padding-left: 27px;
}

.assignmentStatus h3, .edit_assignment h3, .new_assignment h3 {
    margin-top: 10px;
    margin-bottom: 25px;
}

.assignmentStatus .checkPoint:nth-child(2) {
    border-top: 1px solid #DFDFDF;
}

#main .edit_assignment, #main .new_assignment {
    background: #FFF;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    margin-right: 45px;
    min-width: 360px;
    float: left;
}

#main .edit_assignment input[type=submit],
#main .new_assignment input[type=submit] {
    margin-bottom: 15px;
}

#main .edit_assignment .delete a,
#main .new_assignment .delete a {
    color: #343F53;
    opacity: .5;
}

#main ul.rubricScale {
    list-style: none;
    padding-left:0px;
}

#main ul.rubricScale li {
    display: block;
    float:left;
    width:60%;
    padding:8px;
    min-height:32px;
    background: #FCFCFC;
    border: solid 1px #E0E0E0;
}

#main ul.rubricScale li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#main ul.rubricScale li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#main table {
    width: 100%;
    text-align: left;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
}

#main table a {
    color: #343F53;
    text-decoration: underline;
}

#main table tr {
    height: 50px;
    border-bottom: 1px solid #DFDFDF;
}

table.submissions {
    border-radius: 6px;
}

#main .submissions tr {
    background: #FFF;
}

#main .submissions .highlighted a {
    opacity: .6;
}


#main .submissions .checkmark {
    background-image: url(/assets/checkmark.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

#main  .delete {

    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

#main table tr:last-child {
    border-bottom: 0px;
}

#main table th {
    padding-top: 13px;
    height: 55px;
    font-weight: normal;
}

#main table td:nth-child(1),
#main table th:nth-child(1) {
    padding-left: 28px;
}

#main table tr:last-child td {
    padding-bottom: 4px;
    height: 58px;
}

#main td.notCompleted {
    color: #c0392b;
    font-weight: bold;
}

#main .noData {
    text-align: center;
    opacity: 0.3;
    margin-top: 100px;
}

#main .noData a {
    color: #343F53;
    text-decoration: underline;
}

#main h2 {
    font-weight: normal;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}
#main input[type=submit], .button {
    width: automatic;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    background: #FFF;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    padding-top: 13px;
}

#main input[type=submit] {
    padding-top: 9px;
    margin-right: 0px;
}

#main input[type=submit]:hover, .button:hover {
    border: 1px solid #333E54;
}

#main input[type=submit].selected, .button.selected {
    border: 1px solid #333E54;
}

#main .button a {
    color: #343F53;
    text-decoration: none;
}

#main .button.publish {
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px);
  float: left;
  margin: 8px 0 0 0;
}

#new_assignment .button.publish {
    display: none;
}

#main .button.destructive:hover {
  border: 1px solid #e67e22;
  background-color: #e67e22;
}

#main .button.destructive:hover a {
  color: white;
}

.notice {
    background: #FFF;
    padding: 25px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    margin-bottom: 20px;
}

#main .questionType {
    float: left;
}

#main .questionType a {
    color: #343F53;
    text-decoration: none;
}

#questionOptions .explanation {
    color: #343F53;
    font-size: 10pt;
    font-weight: bold;
    opacity: .5;
    margin-bottom: 2px;
    margin-top: -2px;
}

#main h4 {
    text-transform: uppercase;
    font-size: 10pt;
    color: #95969C;
}

#main label, #main .label {
    opacity: .5;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
}

#main .field {
    margin-bottom: 15px;
}

#main input[type="file"] {
    color:#333;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
}

.med_width_button {
    width:150px;
    color:black;
}

.update_account_btn {
    width:321px;
}

#main .loginFields .field,
#main .newAccountFields .field {
    margin-bottom: 0px;
}

#main .newAccountFields input {
    border-bottom: 0px;
}

#main .newAccountFields #user_first_name,
#main .newAccountFields #user_password_confirmation {
    border: 1px solid #d5d5d5;
}

#main .newAccountFields .actions input {
    border: 1px solid #d5d5d5;
}

#main .editAccountFields .field {
    margin-bottom: 0px;
}

#main .editAccountFields #user_first_name,
#main .editAccountFields #user_password {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:10px;
}

#main .editAccountFields #user_last_name,
#main .editAccountFields #user_password_confirmation {
    border-top:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    padding:10px;
}

#main .editAccountFields #user_password {
    margin-top:10px;
}


.passwordResetBtn {
    width: 470px !important;
}

#main .num {
    float: left;
    opacity: .5;
    margin-top: 3px;
    width: 15px;
}

#main .num input {
    width: 46px;
    border: 0px;
    font-size: 21pt;
    margin-left: -7px;
    margin-top: -4px;
    background-color: transparent;
}

#new_question textarea, .edit_question textarea {
    width: 445px;
    height: 101px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid #d5d5d5;
    padding: 12px;
    border-radius: 6px;
}

#new_question .field_with_errors, #edit_question .field_with_errors {
    display: inline-block;
}

#new_question #error_explanation, #edit_question #error_explanation {
    color: red;
    font-weight: bold;
    margin-bottom: 32px;
}

#questionOptions {
    margin-top: 5px;
    margin-bottom: 24px;
    width: 444px;
}

#questionOptions a {
    color: #343F53;
    font-size: 10pt;
    font-weight: bold;
    opacity: .5;
}

#questionOptions .fields {
    background-color: #FFF;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 13px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
}

#questionOptions input {
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 17px;
}

#question_question_weight {
    margin-left: 10px;
    margin-right: 45px;
    margin-bottom: 20px;
    width: 80px;
    padding-left: 5px;
    font-size: 18pt;
    margin-top: -9px;
}

#question_written_response_required {
    margin-left: 7px;
    margin-bottom: 25px;
}

.savedStatus {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    opacity: 0.6;
}

.alert {
    color: #FFF;
    background: #343F53;
    text-align: center;
    width: 400px;
    margin: 13px auto;
}

.alert-error {
    color: red;
}

.percentWrapper {

    float: left;
    width: 75px;
}

.percentWrapper .percent {
    font-size: 20pt;
}

#rubricActions {
    margin-top: 5px;
}

#rubricActions .button {
    float: left;
}

#rubricActions a {
    color: #343F53;
    text-decoration: none;
}

.rubricQuestion {
    background: #FFF;
    padding: 10px 20px 25px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #DFDFDF;
}

.rubricQuestion h2 {
    margin-top: 16px !important;
    margin-bottom: 10px !important;
    font-size: 1.3em;
}

.rubricQuestion a {
    color: #343F53;
    text-decoration: none;
}

.rubricQuestion h4 {
    margin: 0px;
    font-weight: normal;
}

.highlight a {
    color: #e67e22;
}

.loginWrapper {
    height: 100%;
    width: 100%;
    background: #343F53;
    color: #FFF;
    padding-top: 200px;
}

.loginWrapper .error {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
}

.loginWrapper #error_explanation ul {
    list-style: none;
    padding: 0px;
    color: white;
    font-weight: 300;
}

.loginWrapper.newAccount {
    padding-top: 190px;
}

.loginWrapper.newCourse {
    padding-top: 250px;
}

.loginWrapper form {
    color: #FFF;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.loginWrapper input {
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

#main .loginFields input, #main .newAccountFields input {
    width: 470px;
}

.new_user .field:nth-child(2) input,
.loginFields .field:nth-child(2) input {
    border-top: 0px;
}

.loginWrapper.newAccount .new_user .field:nth-child(3) input,
.loginWrapper.newAccount .new_user .field:nth-child(6) input,
.loginWrapper.newAccount .new_user .field:nth-child(5) input {
    border-top: 0px;
}

.loginWrapper.newAccount .new_user .field:nth-child(3) input {
    margin-bottom: 10px;
}

.loginWrapper .actions {
    margin-top: 20px;
    text-align: center;
}

.loginWrapper .logo {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
}

.loginWrapper .logo img {
    width: 360px;
}

.loginWrapper .actions input {
    padding-left: 0px;
    background: #FFF;
    color: #343F53;
}

.loginWrapper .actions.newAccount a {
    border: 0px;
    background: none;
    text-decoration: none;
    color: #FFF;
}

.loginWrapper .actions.newAccount {
    margin-top: 30px;
}

#submissionHeader {
    position: fixed;
    width: 100%;
    height: 37px;
    /*margin: 0px 0px 45px -50px;*/
    padding: 28px 50px 0px 50px;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    z-index: 1000;
}

#submissionHeader h1 {
    float: left;
    font-size: 13px;
    margin: 0px;
    text-align: center;
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
    margin-top: -18px;
    margin-left: 120px;
}

#submissionHeader a {
    float: left;
}

#submissionPDFWrapper {
  width: 62%;
  height: -moz-calc(100% - 39px);
  height: calc(100% - 39px);
  min-height: 400px;
  margin-top: 37px;
  float: left;
  margin-left: -60px;
  position: absolute;
  border-right: 1px solid #DFDFDF;
}

.submissionUpload {
    width: 540px;
    height: auto;
    /* min-height: 100px; */
    display: inline-block;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
    padding: 17px 17px 17px 17px;
    overflow: hidden;
}
#submissionDownloadBtn {
  position: absolute;
  right: 36px;
}

#submissionsWrapper {
    width: 35.5%;
    float: right;
    margin-right: 3%;
}

#submissionsWrapperNoPDF {
  width:100%;
  margin:0px 0px 0px 0px;
  padding-top: 40px !important;
}

#submissionsWrapper h1 {
  margin-left:10px;
}

#nextSubmissionBtn {
  float: right;
  margin-top: 7px;
}

#submissionBoxesWrapper {
    margin-top: 60px;
    display: block;
    width: 100%;
    height: 100%;
}

.submissionQuestionBox, .submissionGradeBox {
  background: #FFF;
  padding: 10px 20px 15px 20px;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid #DFDFDF;
  /* height: initial; */
  /* overflow: auto; */
}

.submissionGradeBox {
  height:72px;
    width: 300px;
}

.submissionGradeBox span {
  font-color:#48494B;
  line-height: 50px;
}

.submissionBox {
    width: 95%;
    min-width: 250px;
    height: auto;
    /* min-height: 100px; */
    display: inline-block;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
    padding: 17px 17px 17px 17px;
    overflow: hidden;
}

.submissionQuestionBox h2 {
  margin-top: 0.6em !important;
  margin-bottom: 0.6em !important;
}

.submissionTextArea, .reviewTextArea {
  width: 100%;
  /* max-width: 100%; */
  /* height: 32px; */
  border: 1px solid #DFDFDF;
  border-radius: 6px;
  margin: 0 auto
}

.reviewTextArea {
  height: 75px;
  width:100%;
}

.submissionTextAreaReply {
  height: 32px !important;
  width: 20% !important;
  line-height:15px;
  font-size: 1em;
}

.submissionResponsePoints {
    position: relative;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 100px;
    text-align: center;
    max-width: 200px;
    min-width: 45px;
    font-size: 20px;
    float: right;
    margin: -17px -50px 0 0;
    background: #e67e22;
    border-bottom-left-radius: 6px;
    color: white;
    padding-right: 20px;
    padding-top: 12px;
}

.submissionResponsePoints.high {
    background: #2ecc71;
}

.submissionResponsePoints.mid {
    background: #f39c12;
}

.submissionResponsePoints.low {
    background: #e74c3c;
}

.submissionResponseFrom {
  color: #48494B;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-top: 8px;
}

.submissionStudentResponse,
.submissionInstructorResponse,
.peerReviewJustification {
    margin-bottom: 11px;
    word-wrap: break-word;
}

#submitFormsButton {
    width:100%; 
    margin-top:50px;
}

.peerReviewJustification {
  display:inline-block;
  width: 100%;
}

.assignment_details {
    float: left;
    background: #FFF;
    padding: 25px;
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    border-radius: 6px;
    border: 1px solid #DFDFDF;
}

.new_submission,
.edit_submission {
    background: #FFF;
    width: 150px;
    margin-left: 0px;
    margin-right: 80px;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    height: 180px;
    padding-left: 5px;
    padding-top: 10px;
}

.edit_submission.afterDeadline {
    height: 50px;
    float: right;
}

.new_submission input,                                                                                                                                                                              u
.edit_submission input {
    border: 0px;
}

.new_submission a,
.edit_submission a {
    color: #2ecc71;
    /* text-decoration: underline; */
}

.new_submission .grade,
.edit_submission .grade,
.submissionGradeBox .grade {
    font-size: 34pt;
    margin: 0px;
}

.submissionGradeBox .grade {
    font-size: 16pt;
}

#main .new_submission input[type=submit],
#main .edit_submission input[type=submit] {
    margin-bottom: 0px;
}

#student_evaluation_view .submissionBox {
    float: left;
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
}

#student_evaluation_view .submissionBox:nth-child(odd) {
    margin-right: 20px;
}

#peer_review label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
  opacity:1;
}
#peer_review input[type=radio] {
	display: none;
}
#peer_review label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

#peer_review .possiblePoints {
    margin-bottom: 20px;
}

#peer_review .radio_btn {
  display: block;
  border: solid 1px rgb(199, 198, 198);
  border-bottom: 0px;
  padding: 5px 0 0 10px;
  background-color: rgb(250, 247, 247);
}

#peer_review .radio_btns .radio_btn:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#peer_review .radio_btns .radio_btn:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: solid 1px rgb(199, 198, 198);
    margin-bottom: 20px;
}

#peer_review .radio_btn label {
	margin-bottom: 10px;
    text-transform: none;
}

#peer_review a {
    color: #343F53;
}

#peer_review textarea {
    /* height: 90px; */
}

#peer_review input {
    margin-top: 20px;
    margin-bottom: -1px;
}

#peer_review .radio_btn label:before {
    border-radius: 3px;
}

#peer_review input[type=radio]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}

#reviewing_tasks {
    margin-top: 40px;
    margin-right: 20px;
}

.reviewing_task {
    float: left;
    background: #FFF;
    padding: 15px 25px 15px 25px;
    width: auto;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    margin-right: 21px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.reviewing_task.highlighted {
    background: rgba(230, 126, 34, 0.05);
    border: 1px solid #e67e22;
}

.reviewing_task:nth-child(5n) {
    margin-right: 0px;
}

.reviewing_task a {
    background: none;
    color: #343F53;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.fl {
  float:left;
}

.fr {
  float:right;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.flash {
    text-align: center;
    background-color: gray;
    color: red;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
