/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #343F53;
    outline: none;
}

input, textarea {
    border: 1px solid #d5d5d5;
    padding: 5px;
}

html, body {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Agora custom styles
   ========================================================================== */

#sidebar {
    float: left;
    width: 290px;
    height: 100%;
    background: #343F53;
    color: #A0ABC0;
    overflow-y: scroll;
    -webkit-box-shadow: inset -72px 0px 7px -69px rgba(0,0,0,0.2);
    -moz-box-shadow: inset -72px 0px 7px -69px rgba(0,0,0,0.2);
    box-shadow: inset -72px 0px 7px -69px rgba(0,0,0,0.2);
}

#sidebar a {
    text-decoration:none;
    color: #A0ABC0;
}

#sidebar .tabs {
    width: 100%;
    height: 55px;
    background: #343F53;
    border-bottom: 1px solid #484957;
}

#sidebar .tab {
    float: left;
    width: 55px;
    height: 100%;
    border-right: 1px solid #484957;
}

#sidebar .tab.active {
    background: #f39c12;
}

#sidebar .tab.assignments {
    background: url(../img/assignments_icon.png) no-repeat center center;
}

#sidebar .tab.assignments.active {
    background-color: #f39c12;
    background-image: url(../img/assignments_icon.png) no-repeat center center;
}

#sidebar #courseSelector {
  margin-top:5px;
  padding:20px;
}

#sidebar #courseSelector select {
  width:100%;
}

#sidebar #newAssignmentBtn {
    padding-left: 20px;
    color: white;
    height: 30px;
    padding-top: 14px;
    padding-bottom: 36px;
    border-top: 1px solid #484957;
    border-bottom: 1px solid #484957;
}

#sidebar ul {
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
}

#sidebar li {
    list-style: none;
    width: 100%;
    height: 85px;
    padding: 23px 25px;
    border-bottom: 1px solid #484957;
}

#sidebar li:hover {
    background: #2c3447;
    color: #FFF;
}

#sidebar li.active {
    background: #2c3447;
    border-left: 5px solid #e74c3c;
    padding: 23px 20px;
    color: #FFF;
}

#sidebar li.active a {
    color: #FFF;
}

#sidebar .status {
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: bold;
    color: #778094;
}

#main {
    float: left;
    width: calc(100% - 290px);
    height: 100%;
    overflow-y: scroll;
    padding: 0px 50px 40px 50px;
    background: #F5F6F8;
}

#main.no_sidebar_main {
  width:100%;
  padding: 0px 36px 40px 50px;
}

#header {
    position: fixed;
    width: calc(100% + 120px);
    height: 85px;
    margin: 0px 0px 45px -50px;
    padding: 28px 50px 0px 50px;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    z-index: 1000;
}

#headerSpacer {
    width: 100%;
    height: 130px;
}

#main h1 {
    margin: 0px;
    margin-right: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    font-weight: normal;
    font-size: 20pt;
    float: left;
}

#main .tabs {
    margin-top: 4px;
    text-transform: uppercase;
    color: #95969C;
}

#main .tab {
    float: left;
    height: 52px;
    margin-right: 50px;
    padding-top: 10px;
    font-size: 10.5pt;
}

#main .tabs a {
    text-decoration:none;
    color: #95969C;
}

#main .tab.active a {
    color: #e74c3c;
    font-weight: bold;
}

#main .tab:hover {
    color: #e74c3c;
    border-bottom: 3px solid #95969C;
}

#main .tab.active {
    color: #e74c3c;
    border-bottom: 3px solid #e74c3c;
}

#main .tab.active:hover {
  margin-right:50px;
}

#main .tab.active + #main .tab {
    border-left: 0px !important;
}

#main .tab.logout {
    right: 394px;
    position: absolute;
}

#backBar {
    width: calc(100% + 120px);
    height: 40px;
    margin: -45px 0px 30px -60px;
    padding-top: 11px;
    padding-left: 60px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF;
    font-size: 10.5pt;
}

#backBar a, #header a {
    color: #343F53;
    text-decoration: none;
}

#main #error_explanation h2,
#main #error_explanation {
    font-size: 11pt;
}

#main .edit_assignment, #main .new_assignment {
    background: #FFF;
    padding: 25px;
    width: 405px;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
}

#main .edit_assignment input[type=submit],
#main .new_assignment input[type=submit] {
    margin-bottom: 0px;
}

#main table {
    width: 100%;
    text-align: left;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
}

#main table tr {
    height: 50px;
    border-bottom: 1px solid #DFDFDF;
}

#main table tr:last-child {
    border-bottom: 0px;
}

#main table th {
    padding-top: 13px;
    height: 55px;
    font-weight: normal;
}

#main table td:nth-child(1),
#main table th:nth-child(1) {
    padding-left: 28px;
}

#main table tr:last-child td {
    padding-bottom: 4px;
    height: 58px;
}

#main .noData {
    text-align: center;
    opacity: 0.3;
    margin-top: 100px;
}

#main .noData a {
    color: #343F53;
}

#main h2 {
    font-weight: normal;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

#main input[type=submit], .button {
    width: 215px;
    height: 50px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    padding-top: 13px;
}

#main input[type=submit] {
    padding-top: 9px;
}

#main input[type=submit]:hover, .button:hover {
    border: 1px solid #2ecc71;
}

#main input[type=submit].selected, .button.selected {
    border: 1px solid #2ecc71;
}

#main .button a {
    color: #343F53;
    text-decoration: none;
}

#main .questionType {
    float: left;
}

#main .questionType a {
    color: #343F53;
    text-decoration: none;
}

#main h4 {
    text-transform: uppercase;
    font-size: 10pt;
    color: #95969C;
}

#main label, #main .label {
    opacity: .5;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
}

#main .field {
    margin-bottom: 15px;
}

#main .num {
    float: left;
    opacity: .5;
    margin-top: 3px;
    width: 15px;
}

#main .num input {
    width: 46px;
    border: 0px;
    font-size: 21pt;
    margin-left: -7px;
    margin-top: -4px;
    background-color: transparent;
}

#new_question textarea, .edit_question textarea {
    width: 445px;
    height: 101px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid #d5d5d5;
    padding: 12px;
    border-radius: 6px;
}

#questionOptions {
    margin-top: 5px;
    margin-bottom: 24px;
    width: 444px;
}

#questionOptions a {
    color: #343F53;
    font-size: 10pt;
    font-weight: bold;
    opacity: .5;
}

#questionOptions .fields {
    background-color: #FFF;
    padding-left: 26px;
    padding-top: 20px;
    padding-bottom: 13px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
}

#questionOptions input {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 17px;
    width: 260px;
}

#question_question_weight {
    margin-left: 10px;
    margin-right: 45px;
    margin-bottom: 20px;
    width: 80px;
    padding-left: 5px;
    font-size: 18pt;
    margin-top: -9px;
}

#question_written_response_required {
    margin-left: 7px;
    margin-bottom: 25px;
}

#rubricActions {
    margin-top: 5px;
}

#rubricActions .button {
    float: left;
}

#rubricActions a {
    color: #343F53;
    text-decoration: none;
}

.rubricQuestion {
    background: #FFF;
    padding: 10px 20px 25px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #DFDFDF;
}

.rubricQuestion h2 {
    margin-top: 16px !important;
    margin-bottom: 10px !important;
    font-size: 1.3em;
}

.rubricQuestion a {
    color: #343F53;
    text-decoration: none;
}

.rubricQuestion h4 {
    margin: 0px;
    font-weight: normal;
}

.highlight a {
    color: #e74c3c;
}

.loginWrapper {
    height: 100%;
    width: 100%;
    background: #F5F6F8;
    padding-top: 250px;
}

.loginWrapper #error_explanation ul {
    list-style: none;
    padding: 0px;
    color: #343F53;
}

.loginWrapper.newAccount {
    padding-top: 190px;
}

.loginWrapper form {
    color: #FFF;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.loginWrapper input {
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.loginWrapper .field:nth-child(3) input {
    border-top: 0px;
}

.loginWrapper.newAccount .field:nth-child(3) input,
.loginWrapper.newAccount .field:nth-child(6) input {
    border-top: 0px;
}

.loginWrapper.newAccount .field:nth-child(3) input,
.loginWrapper.newAccount .field:nth-child(4) input {
    margin-bottom: 10px;
}

.loginWrapper .actions {
    margin-top: 20px;
    text-align: center;
}

.loginWrapper .actions input {
    padding-left: 0px;
    background: #e74c3c;
    color: #FFF;
}

.loginWrapper .actions.newAccount a {
    border: 0px;
    background: none;
    text-decoration: none;
    color: #343F53;
}

#submissionHeader {
    position: fixed;
    width: 100%;
    height: 37px;
    margin: 0px 0px 45px -50px;
    padding: 28px 50px 0px 50px;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    z-index: 1000;
}

#submissionHeader h1 {
    float: left;
    font-size: 13px;
    margin: 0px;
    text-align: center;
    width: calc(100% - 400px);
    margin-top: -19px;
    margin-left: 250px;
}

#submissionHeader a {
    float: left;
}

#submissionPDFWrapper {
  width: 55%;
  height: 100%;
  min-height: 400px;
  margin-top: 37px;
  float: left;
  margin-left: -60px;
  position: absolute;
}

#submissionDownloadBtn {
  position: absolute;
  right: 36px;
}

#submissionsWrapper {
  width: 43%;
  float: right;
  margin-left: 8px;
  margin-top: 43px;
}

#submissionsWrapper h1 {
  margin-left:10px;
}

#nextSubmissionBtn {
  float: right;
  margin-top: 7px;
}

#submissionBoxesWrapper {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 100%;
}


.submissionQuestionBox, .submissionGradeBox {
  background: #FFF;
  padding: 10px 20px 25px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #DFDFDF;
}

.submissionGradeBox {
  height:72px;
}

.submissionGradeBox span {
  text-transform:uppercase;
  font-color:#48494B;
  line-height: 50px;
  font-weight:bold;
}

.submissionBox {
    width: 100%;
    min-width: 250px;
    height: auto;
    min-height: 100px;
    display: inline-block;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
    padding: 17px 50px 17px 17px;
    overflow: hidden;
}

.submissionQuestionBox h2 {
  margin-top: 0.6em !important;
  margin-bottom: 0.6em !important;
}

.submissionTextArea {
  width: 75%;
  height: 32px;
  border: 1px solid #DFDFDF;
  border-radius: 6px;
}

.submissionTextArea:focus {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(86, 171, 214, .75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(86, 171, 214, .75);
  box-shadow: 0px 0px 5px 2px rgba(86, 171, 214, .75);
}

.submissionTextAreaReply {
  height: 32px !important;
  width: 20% !important;
  line-height:15px;
  font-size: 1em;
}

.submissionResponsePoints {
  position: relative;
  right: 0px;
  top: 0px;
  height: 50px;
  width: auto;
  max-width: 100px;
  min-width: 45px;
  font-size: 22px;
  float: right;
  margin: -17px -50px 0 0;
  text-align: right;
  padding: 10px 15px 0 15px;
  background: #e74c3c;
  border-bottom-left-radius: 6px;
  color: white;
}

.submissionResponseFrom {
  color: #48494B;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.submissionStudentResponse, 
.submissionInstructorResponse {
  border-top: 1px solid #DFDFDF;
  margin-top:30px;
  padding-top:20px;
}

.assignment_details {
    float: left;
    background: #FFF;
    padding: 25px;
    width: calc(50% - 10px);
    border-radius: 6px;
    border: 1px solid #DFDFDF;
}

.new_submission, 
.edit_submission {
    float: left;
    background: #FFF;
    padding: 25px;
    width: calc(50% - 10px);
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    height: 144px;
}

.new_submission input, 
.edit_submission input {
    border: 0px;
}

#main .new_submission input[type=submit], 
#main .edit_submission input[type=submit] {
    margin-bottom: 0px;
}

#student_evaluation_view {
    margin-top: 163px;
}

#student_evaluation_view .submissionBox {
    float: left;
    width: calc(50% - 10px);
}

#student_evaluation_view .submissionBox:nth-child(even) {
    margin-right: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.fl {
  float:left;
}

.fr {
  float:right;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
