<%= render "assignments/header" %>

<h1>Editing submission</h1>

<%= render 'form' %>

<%# link_to 'Show', show_assignment_submission_path(@submission) %>
 |
<%= link_to 'Back', assignment_submissions_path %>
