<div id="header">

  <% if @course.id %>
      <h1 class="name"><%= @course.name %></h1>
      <div class="tabs" style="width:100%;float:left" >

        <div class="tab settings">
          <%= link_to edit_user_path(current_user, :course => @course.id) do %>
              Settings
          <% end %>
        </div>
        <div class="tab logout">
          <%= link_to logout_path do %>
              Sign out
          <% end %>
        </div>
      </div>
  <% end %>

</div>

<div id="headerSpacer"></div>
