<%= render "assignments/header" %>

<div class="notice">This allows you to modify the peer reviewing tasks randomly assigned by Coursemark.</div>

<% if @students.length > 0 %>
  <table class="reviews">
      <tr>
        <th>Name</th>
        <% @assignment.reviews_required.times do |n| %>
          <th>Reviewer <%= n+1 %></th>
        <% end %>
      </tr>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <% @assignment.reviews_required.times do |n| %>
          <td>
            <select>
              <% @students.each do |s| %>
                <option><%= s.name %></option>
              <% end %>
            </select>
          </td>
        <% end %>
      </tr>
      <% end %>
  </table>
  <br />
<% else %>
  <h2 class="noData">No one has enrolled yet.</h2>
<% end %>